@import '../mixins';
@import '../variables';

.active {
  border-bottom:1px solid #ffff4d;
  color:$white;
}
.header {
  display:grid;
  grid-template-columns: 0.35fr 0.3fr;
  grid-template-areas: 'headline navigation';
  margin-bottom:1rem;
  background:$blue;
  .headline {
    display:flex;
    align-items: center;
    height:5rem;
    grid-area:headline;
    padding-left:0.5rem;
    h2 {
      color:$white;
    }
  }
  .navigation {
    height:3rem;
    padding:0;
    grid-area:navigation;
    @include alignMe(space-around, center);
    li {
      @include alignMe(center, center);
      width:30%;
      height:5rem;
      list-style-type:none;
      cursor:pointer;
      a {
        text-decoration:none;
        color:$darkWhite;
      }
    }
  }
  & {
    @media (max-width:700px) {
      grid-template-areas:
              'headline'
              'navigation';
      grid-template-columns:1fr;
      .headline {
        align-items:center;
        justify-content:center;
      }
    }
  }
}