@import '../variables';
@import '../mixins';

.map-container {
  position:relative;
  z-index:20;
  width:98vw;
  margin:0 auto;
  overflow:hidden;
}
.office-map {
  .location {
    max-width:2rem;
    object-fit:contain;
  }
  .office-img {
    max-width:2.3rem;
    object-fit:contain;
  }
  .popup-container {
    @include alignMe(center, center);
    flex-direction:column;
  }
}